@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #3B82F6;
  --color-accent-yellow: #FDE047;
  --color-accent-green: #86EFAC;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}
